/* Button */
/*  Button Base */

	.btn {
		color: var(--col-button-default-fg);
		background-color: var(--col-button-default-bg);
		text-align: center;
		text-decoration: none;
		font-size: 120%;
		font-weight: 300;
		border: 0;
		border-radius: 0.25em;
		padding: 0.25em 0.5em;
		margin: 0.25em 0.25em;
		display: inline-block;
		box-shadow: 0 0 10px 0.5px var(--col-shadow);
	}
	.col-inv .btn, .col-inv2 .btn {
		box-shadow: 0 0 10px 0.5px var(--col-shadow-inv);
	}
	.btn:hover {
		background-color: #e0e0e0;
	}
	.btn:active {
		background-color: #ccc;
	}
	.btn:focus {
		outline: 0;
	}
	.btn:visited {
		color: #333;
	}

/*  /Button Base */
/*  Button utils */

	.btn-block {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.btn.btn-round {
		border-radius: 1em;
	}
	.btn-small.btn-round {
		border-radius: 0.75em;
	}
	.btn-large.btn-round {
		border-radius: 1.25em;
	}
	.btn-group {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.btn-group > .btn {
		display: block;
		border-radius: 0.25em;
		margin: 0.15em;
	}
	@media only screen and (min-width: 768px) {
		.btn-group {
			display: inline-flex;
			flex-direction: row;
			width: auto !important;
			border-radius: 0.25em;
			box-shadow: 0 0 10px 0.5px var(--col-shadow);
		}
		.col-inv .btn-group, .col-inv2 .btn-group {
			box-shadow: 0 0 10px 0.5px var(--col-shadow-inv);
		}
		.btn-group > .btn {
			display: inline-block;
			margin: 0 0;
			width: auto;
			border-left: 1px solid #ccc;
			border-radius: 0;
			box-shadow: none;
		}
		.btn-group > .btn:hover {

		}
		.btn-group > .btn:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border-left: none;
		}
		.btn-group > .btn:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

/*  /Button utils */
/*  Button colors */

	.btn-red {
		color: var(--col-red-fg);
		background-color: var(--col-red-bg);
	}
	.btn-red:hover {
		background-color: var(--col-red-bg2);
	}
	.btn-red:active {
		background-color: var(--col-red-bg);
	}

	.btn-green {
		color: var(--col-green-fg);
		background-color: var(--col-green-bg);
	}
	.btn-green:hover {
		background-color: var(--col-green-bg2);
	}
	.btn-green:active {
		background-color: var(--col-green-bg);
	}

	.btn-blue {
		color: var(--col-blue-fg);
		background-color: var(--col-blue-bg);
	}
	.btn-blue:hover {
		background-color: var(--col-blue-bg2);
	}
	.btn-blue:active {
		background-color: var(--col-blue-bg);
	}


/*  /Button colors */
/*  Button Size */

	.btn-small {
		font-size: 100%;
		padding: 0.15em 0.25em;
		margin: 0 0;
	}
	.btn-large {
		font-size: 130%;
		padding: 0.45em 0.7em;
		margin-top: 3px;
		margin-bottom: 3px;
	}

/*  /Button Size */
/* /Button */
