/* Page */

	.page {
		max-width: 768px;
		margin: 0 auto;
		overflow: auto;
	}

	.page.page-wide {
		max-width: 1200px;
	}

	.page > .page-header {
		background: linear-gradient(141deg, var(--col-page-header1) 5%, var(--col-page-header2) 50%, var(--col-page-header3) 95%);
		color: #fff;
		border-bottom: 2px solid var(--col-page-border);
		font-size: 125%;
		font-weight: 200;
		text-shadow: 1px 1px rgba(0,0,0,0.25);
		margin-bottom: 0;
		padding: 1em;
	}

	.page > .page-header .btn {
		text-shadow: none;
	}

	.page > .page-header .codeblock {
		text-shadow: none;
	}

	.page > .page-footer {
		background: linear-gradient(141deg, var(--col-page-header3) 5%, var(--col-page-header2) 50%, var(--col-page-header1) 95%);
		color: #fff;
		border-top: 2px solid var(--col-page-border);
		font-size: 75%;
		font-weight: 200;
		text-shadow: 1px 1px rgba(0,0,0,0.25);
		margin-bottom: 0;
		padding: 1em;
	}

	.page > .page-footer a {
		color: #44f !important;
		text-shadow: none;
	}

	.page > .page-content {
		margin-top: 0;
		padding: 1em;
	}

	@media only screen and (min-width: 768px) {
		.page {
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.page.page-round-top {
			border-top-left-radius: 1em;
			border-top-right-radius: 1em;
		}
		.page.page-round-bottom {
			border-bottom-left-radius: 1em;
			border-bottom-right-radius: 1em;
		}

		.page > .page-header {
			padding: 2em 5em;
		}
		.page > .page-footer {
			padding: 1em 5em;
		}
		.page > .page-content {
			padding: 2em 5em;
		}
	}

/* /Page */
