/* Dark theme */

	:root {
		--col-default-fg: #eee;
		--col-default-bg: #111;
		--col-default2-fg: #eee;
		--col-default2-bg: #000;
		--col-inv-fg: #333;
		--col-inv-bg: #f5f5f5;
		--col-inv2-fg: #333;
		--col-inv2-bg: #fff;
		--col-border: #444;
		--col-shadow: #444;
		--col-shadow-inv: #ccc;
	}

	body {
		color: #eee;
		background-color: #000;
	}

	::-webkit-scrollbar-track {
	  border-left: 1px solid rgba(0,0,0,0.5);
	  background: #333;
	}
	::-webkit-scrollbar-thumb {
	  background: #666;
	}

/* /Dark theme*/
